body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loginDiv, .signUpDiv, .profileDiv{
  border:1px solid whitesmoke;
  border-radius:15px;
  background-color: aliceblue;

}
.signUpDiv{
  height:520px;
}
.profileDiv{
  height:390px
}
.loginDiv{
  height:400px;
  width:350px
}

.showPassWord{
  margin-top:28px;
}
.selectDiv{
  height:36px;
  border-radius: 5px;
}
.mainDiv{
  background-color: brown;
  height: 100vh;
}
.text {
  cursor: pointer;
  text-decoration: underline;
}

.box {
  width: 100px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 11px;
}

.box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.box li {
  margin-bottom: 5px;
}
